*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    src: url(./font/Poppins-Regular.ttf);
}
body{
    background-image: linear-gradient(to right, #89c5bf , #597EDE);
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;;
}
input{
    color: #597EDE;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #ffffff;
    color: #c1d0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;
}
.container h1{
    color: #fff;
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #ffffff;
    border-bottom: 6px solid #ffffff;
    padding-bottom: 7px;
    font-weight: 900;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;  
}
.container button{
    border: 0;
    outline: 0;
    background: #577cd9;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
    gap: 10px;
}
.container img{
    width: 30px;
    cursor: pointer;
}
